@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar สำหรับ top/bottom area */
.flex::-webkit-scrollbar {
    height: 8px;
}

.flex::-webkit-scrollbar-thumb {
    background-color: #ec4899; /* pink-500 */
    border-radius: 4px;
}

.flex::-webkit-scrollbar-track {
    background-color: #1f2937; /* gray-800 */
}

[data-slot] {
  transition: background-color 0.3s, color 0.3s;
}
[data-slot].clearing {
  background-color: #7f1d1d;
  color: transparent;
}

#buff-section li:hover {
    text-shadow: 0 0 6px currentColor;
  }
